*{margin:0;}

.gridItem {
    float: left;
    //height: 20vw;
    margin: 2px;
    width: 23.5%;
}
.gridItem:nth-child(4n-3){
    margin-left:0;
}
.gridItem:nth-child(4n){
    margin-right:0;
}
section{
    margin:0 20px;
}
.frozenOverlay{
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(120, 196, 246, 0.6);
}